:root {
  --sans: 'Roboto', sans-serif;
  --border: #e5e4e7;
  --border-primary: #ced4da;
  --primary: #7a0000;
  --primary-hover: #9a0000;
  --primary-bg: rgba(254, 0, 0, 0.3);
  --text: #6b6375;
  --cancel: #bfbfbf;
  --cancel-lighter: #dedede;
  --text-h: #08060d;
  --bg: #fff;
  --edit: #002855;
  --edit-lighter: #014081;
  --delete: #dc2e2e;
  --delete-lighter: #ef4c4c;
}